---
title: 404 - Page not found
seo: false
layout: default
---
<div class="app-page app-fluid app-centered">
    <h1>404</h1>
    <p><strong>{% include i18n id="Page not found" %} :(</strong></p>
    <p>{% include i18n id="The requested page could not be found" %}</p>
</div>
