@import 'vendor/variables';
@import 'vendor/mixins';
@import 'vendor/root';
@import 'vendor/reset';
@import 'vendor/helpers';
@import 'vendor/colors';
@import 'vendor/ratio';
@import 'vendor/icon';
@import 'vendor/browser';

.scroll {
  --header-background: #ffffff;
  --header-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.app {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
  padding-top: var(--header-height);
}

.app-layout {
  @extend %layout;
  padding: 0 var(--gap);
}



.app-header {

  @extend %fixed-top;
  @extend %user-select;

  display:flex;
  align-items: center;

  --link-color: var(--color-primary);
  --link-color-hover: var(--color-link);
  --link-decoration: none;
  background-color: var(--header-background);
  box-shadow: var(--header-shadow);
  height: var(--header-height);
  z-index: 200;

  &__layout {
    @extend %layout;
    padding: 0 var(--gap);
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap;
  }

  &__progress {
    @extend %fixed-top;
    z-index: 300;
    background-color: transparent;

    &:before {
      content: '';
      display: block;
      width: calc(1% * var(--progress, 0));
      height: 0.125rem;
      background: linear-gradient(45deg, var(--color-info), var(--color-pink) 80%);
    }

  }

  &__nav {
    display:flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    margin: 0 auto 0 0;
    font-size: var(--header-logo);
    svg {
      height: var(--header-icon);
      width: var(--header-icon);
    }

    a {
      display:flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__title {
    margin-left: .5rem;
    @include phone {
      display:none;
    }
  }

  &__link {
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
    margin: 0;
    @include phone {
      font-size:1rem;
    }
  }

  &__link + &__link {
    margin-left: var(--gap);
  }

}

.app-centered {
  align-items: center;
  justify-content: center;
  text-align:center;
}

.app-page {
  @extend %bg-white;
  @extend %relative;
  display:flex;
  flex-direction: column;
  z-index: 10;
}

.app-footer {
  @extend %bg-white;
  @extend %relative;
  display:flex;
  flex-direction: column;
  z-index: 10;
  border-top: 1px solid #f5f5f5;

  &__layout {
    @extend %layout;
    padding: 0 var(--gap);
  }

  &__copyright {

  }

  &__languages {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    @include phone{
      justify-content: start;
    }
  }

}


.app-banner {
  @extend %bg-white;
  display:flex;
  flex-direction: column;
  position: sticky;
  overflow: hidden;
  top: var(--header-height);

  + .app-page {
    box-shadow: 0px -1rem 1rem #fff;
  }

}


.app-rows {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: var(--gap);
  padding: var(--gap);
}

.app-grid {
  max-height: 100%;
  display: grid;
  grid-auto-columns: auto;
  grid-gap: var(--gap);
  grid-template-columns: 1fr 1fr;
  @include phone {
    grid-template-columns: 1fr;
  }
}

.app-inline {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -.5rem;

  &__item {
    display: inline-flex;
    align-items: center;
    margin: .5rem;
  }
}

.app-entry {
  --entry-shadow: none;
  --entry-rounded: .5rem;
  transition: all 0.3s ease-in-out;
  cursor: default;
  border-radius: .5rem;
  box-shadow: var(--entry-shadow);
  position: relative;

  &:hover {
    --entry-rounded: .5rem .5rem 0 0;
    --entry-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  }

  &__link {
    @extend %cover;
    z-index: 100;
  }

  &__cover {
    position: relative;

    &:before {
      content: '';
      padding-top: calc(9 / 16 * 100%);
      display: block;
    }

    &:after {
      @extend %cover;
      content: '';
      transition: all 0.3s ease-in-out;
      border-radius: var(--entry-rounded);
      background: linear-gradient(40deg, rgba(#4e4cbd, 0.3), rgba(#ba0f51, 0.3));
      z-index: 3;
    }
  }

  &__image {
    @extend %cover;
    transition: all 0.3s ease-in-out;
    border-radius: var(--entry-rounded);
    z-index: 2;
  }

  &__content {
    border-radius: 0 0 .5rem .5rem;
    padding: 1rem;
  }
}


.app-card {

  &__content {
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }

  &__front, &__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &:before {
      content: '';
      padding-top: calc(3 / 4 * 100%);
      display: block;
    }
  }

  &__back, &__image, &__inner, &__front:after {
    @extend %cover;
    border-radius: .5rem;
    backface-visibility: hidden;
  }

  &__image {
    z-index: 1;
    background-color: #fff;
    overflow: hidden;
  }

  &__back {
    background-color: #fff;
    transform: rotateY(180deg);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }

  &__front {
    position: relative;
    text-shadow: 0 0 .375rem rgba(0, 0, 0, 0.2);
    color: #fff;

    &:after {
      content: '';
      background: linear-gradient(40deg, rgba(#4e4cbd, 0.5), rgba(#ba0f51, 0.5));
      z-index: 2;
    }
  }

  &__inner {
    display:flex;
    flex-direction: column;
    z-index: 3;
    transform: translateZ(5rem);
    padding: var(--gap);
  }

  &__wrapper {
    overflow-y: hidden;
    margin-right: calc(var(--gap) / -1);
    padding-right: var(--gap);

    .active & {
      overflow-y: auto;
    }
  }

  &__title{

  }


  &__button {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    background: transparent;
    padding: 0.5rem 1rem;
    text-shadow: 0 0 .375rem rgba(0, 0, 0, 0.2);
    display: inline-flex;
    transition: 0.3s ease-in-out;
    font-weight: var(--font-weight-bold);
    border-radius: .375rem;
    cursor: pointer;
    @include hover-focus-active {
      background-color: #fff;
      box-shadow: 0 0 .375rem rgba(0, 0, 0, 0.2);
      text-shadow: none;
      color: var(--color-link-active);
    }
  }

  &.active &__content {
    transform: rotateY(180deg);
  }


  @include tablet {
    &__button {
      padding: 0.25rem 1rem;
    }
    &__front {
      p {
        font-size: 0.875rem;
      }
    }
  }

  @include phone {

    &.active &__content {
      transform: none;
    }
    &__content {
      transform-style: inherit;
      transition: none;
    }
    &__back, &__front, &__inner {
      position: relative;
    }
    &__button {
      display: none;
    }
    &__back, &__front, &__inner {
      transform: none;

      &:before {
        display: none;
      }
    }
    &__front, &__front:after, &__image {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &__front {
      p {
        margin: 0;
        font-size: 0.875rem;
      }
    }
    &__back {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.app-empty {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: var(--gap);
  background-color: #f5f5f5;
  text-align: center;
  border-radius: .5rem;
}
