.app-entry {
  --entry-shadow: none;
  --entry-rounded: .5rem;
  transition: all 0.3s ease-in-out;
  cursor: default;
  border-radius: .5rem;
  box-shadow: var(--entry-shadow);
  position: relative;
  display: flex;
  flex-direction: column;

  &:hover {
    --entry-rounded: .5rem .5rem 0 0;
    --entry-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
  }

  &__fluid {
    flex: 1;
  }

  &__link {
    @extend %cover;
    z-index: 100;
    border-radius: .5rem;
    text-indent: -99999px;
  }

  &__cover {
    position: relative;

    &:before {
      content: '';
      padding-top: calc(9 / 16 * 100%);
      display: block;
    }
  }

  &__gradient {
    &:after {
      @extend %cover;
      content: '';
      transition: border-radius 0.3s ease-in-out;
      border-radius: var(--entry-rounded);
      background: linear-gradient(40deg, rgba(#4e4cbd, 0.3), rgba(#ba0f51, 0.3));
      z-index: 3;
    }
  }

  &__image {
    @extend %cover;
    transition: border-radius 0.3s ease-in-out;
    border-radius: var(--entry-rounded);
    z-index: 1;
  }

  &__content {
    border-radius: 0 0 .5rem .5rem;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
  }


  &__date {
    font-size: var(--font-size-small);
    color: var(--color-link);
    margin-bottom:.5rem;
  }

  &__title {
    --fs-h: var(--fs-5);
    --line-margin: 0rem;
  }

  &__summary {
    --line-margin: 0;
    color: var(--color-dark);
  }
}


