.app-header {

  @extend %fixed-top;
  @extend %user-select;
  @extend %flex;
  @extend %flex-middle;

  padding:0 var(--spacer);

  --link-color: var(--color-primary);
  --link-color-hover: var(--color-link);
  --link-decoration: none;

  background-color: var(--header-background);
  box-shadow: var(--header-shadow);
  height: var(--header-height);

  z-index: 200;

  &__layout {
    @extend %layout;
    @extend %flex-row;
    @extend %flex-middle;
    @extend %flex-wrap;
  }

  &__progress {
    @extend %fixed-top;
    z-index: 300;
    background-color: transparent;
    &:before {
      content: '';
      display: block;
      width: calc(1% * var(--progress, 0));
      height: 0.125rem;
      background: linear-gradient(45deg, var(--color-info), var(--color-pink) 80%);
    }
  }

  &__nav {
    @extend %flex-row;
    @extend %flex-middle;
  }

  &__logo {
    --link-color-hover: var(--color-primary);
    margin: 0 auto 0 0;
    font-size: var(--header-logo);
    svg {
      height: var(--header-icon);
      width: var(--header-icon);
      fill: var(--color-link);
    }
    a {
      @extend %flex-row;
      @extend %flex-middle;
    }
  }

  &__title {
    margin-left: .5rem;
    @include phone {
      display:none;
    }
  }

  &__link {
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
    margin: 0;
    @include phone-xs {
      font-size:1rem;
    }
  }

  &__link + &__link {
    margin-left: var(--spacer);
  }

}
