.app-post{
  --fs:1.125rem;
  --fs-1:2.5rem;
  --fs-2:2rem;
  --fs-3:1.5rem;
  --fs-4:1.25rem;
  --fs-5:1.25rem;
  --fs-6:1.25rem;
  --line-margin: 1.5rem;
  --line-height-headings: 1.1;
  --line-height-base: 1.7;
  @include phone-xs {
    --fs:1.0625rem;
    --fs-1:1.75rem;
    --fs-2:1.5rem;
    --fs-3:1.25rem;
    --fs-4:1.125rem;
    --fs-5:1.125rem;
    --fs-6:1.125rem;
    --line-margin: 1rem;
    --line-height-headings: 1.125;
    --line-height-base: 1.6;
  }
}

.app-post{
  max-width:48rem;
  margin:0 auto;
  &__title{
    margin-bottom:0;
  }
  &__date{
    display:inline-flex;
    margin-bottom:var(--line-margin);
    color:var(--color-link);
  }
  &__share{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-bottom:var(--line-margin);
  }
  &__source + &__author{
    margin-top:var(--line-margin);
  }
}

button[data-share]{
  background-color:var(--color);
  border:0;
  border-radius: .5rem;
  flex:1;
  text-align:center;
  justify-content: center;
  svg{
    fill:#fff;
    height:1.5rem;
    width:1.5rem;
  }
  + button[data-share]{
    margin-left:.5rem;
  }
}

.app-post{
  figure{
    @include phone-xs{
      margin-left:-1rem;
      margin-right:-1rem;
    }
    img{
      max-width:100%;
      display:block;
      margin:0 auto;
    }
  }
}

