:root {
  --font-size: 16px;
  --font-family-base: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-weight-thin:100;
  --font-weight-normal:400;
  --font-weight-bold:500;
  --font-size-small:.875em;
  --line-height-base:1.5;
  --line-height-headings:1.25;
  --line-margin:1rem;
}

:root {
  --link-decoration:underline;
  --link-decoration-hover:none;
  --link-decoration-active:none;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

figure {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--line-height-headings);
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: var(--font-weight-bold);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, figure {
  margin: 0 0 var(--line-margin) 0;
}

section :last-child {
  margin-bottom: 0;
}

article :last-child {
  margin-bottom: 0;
}
article + article {
  margin-top: var(--grid-padding);
}

a {
  color: var(--link-color, var(--color-link));
  fill: var(--link-color, var(--color-link));
  -webkit-text-decoration: var(--link-decoration);
          text-decoration: var(--link-decoration);
  text-underline-offset: 0.1em;
}
a:hover {
  color: var(--link-color-hover, var(--color-link-hover));
  fill: var(--link-color-hover, var(--color-link-hover));
  -webkit-text-decoration: var(--link-decoration-hover);
          text-decoration: var(--link-decoration-hover);
}
a.active {
  color: var(--link-color-active, var(--color-link-active));
  fill: var(--link-color-active, var(--color-link-active));
  -webkit-text-decoration: var(--link-decoration-active);
          text-decoration: var(--link-decoration-active);
}

[class*=c-] {
  color: var(--color);
}

html {
  font-size: var(--font-size, 16px);
}

body {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
  background: var(--page-background);
  padding: var(--page-padding);
  color: var(--color-primary);
  min-height: 100vh;
  display: block;
  position: relative;
}

:root {
  --color-blue: #0D6EFD;
  --color-pink: #D63384;
  --color-gold: #FFD700;
  --color-indigo: #6610F2;
  --color-purple: #6F42C1;
  --color-red: #DC3545;
  --color-orange: #FD7E14;
  --color-yellow: #FFC107;
  --color-green: #198754;
  --color-teal: #20C997;
  --color-cyan: #0DCAF0;
  --color-primary: #303030;
  --color-dark: #545454;
  --color-secondary: #7d7d7d;
  --color-success: #5b9e27;
  --color-danger: #ba0f51;
  --color-warning: #e79566;
  --color-info: #353584;
  --color-link: #4e4cbd;
  --color-link-hover: #060534;
  --color-link-visited: #060534;
  --color-link-active: #ba0f51;
  --color-facebook: #3b5998;
  --color-linkedin: #0077b5;
  --color-dribbble: #ea4c89;
  --color-behance: #1769ff;
  --color-instagram: #c13584;
  --color-pinterest: #BD081C;
  --color-twitter: #1DA1F2;
  --color-github: #6e5494;
  --color-pexels: #05a081;
}

.c-blue {
  --color: #0D6EFD;
}

.c-pink {
  --color: #D63384;
}

.c-gold {
  --color: #FFD700;
}

.c-indigo {
  --color: #6610F2;
}

.c-purple {
  --color: #6F42C1;
}

.c-red {
  --color: #DC3545;
}

.c-orange {
  --color: #FD7E14;
}

.c-yellow {
  --color: #FFC107;
}

.c-green {
  --color: #198754;
}

.c-teal {
  --color: #20C997;
}

.c-cyan {
  --color: #0DCAF0;
}

.c-primary {
  --color: #303030;
}

.c-dark {
  --color: #545454;
}

.c-secondary {
  --color: #7d7d7d;
}

.c-success {
  --color: #5b9e27;
}

.c-danger {
  --color: #ba0f51;
}

.c-warning {
  --color: #e79566;
}

.c-info {
  --color: #353584;
}

.c-link {
  --color: #4e4cbd;
}

.c-link-hover {
  --color: #060534;
}

.c-link-visited {
  --color: #060534;
}

.c-link-active {
  --color: #ba0f51;
}

.c-facebook {
  --color: #3b5998;
}

.c-linkedin {
  --color: #0077b5;
}

.c-dribbble {
  --color: #ea4c89;
}

.c-behance {
  --color: #1769ff;
}

.c-instagram {
  --color: #c13584;
}

.c-pinterest {
  --color: #BD081C;
}

.c-twitter {
  --color: #1DA1F2;
}

.c-github {
  --color: #6e5494;
}

.c-pexels {
  --color: #05a081;
}

.ratio {
  position: relative;
  width: 100%;
}
.ratio::before {
  display: block;
  padding-top: var(--aspect-ratio);
  content: "";
}
.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio-1x1 {
  --aspect-ratio: 100%;
}

.ratio-4x3 {
  --aspect-ratio: calc(3 / 4 * 100%);
}

.ratio-16x9 {
  --aspect-ratio: calc(9 / 16 * 100%);
}

.ratio-21x9 {
  --aspect-ratio: calc(9 / 21 * 100%);
}

.icon {
  --size:1em;
  --display:inline-flex;
  --line:var(--line-height-base);
  display: var(--display);
  fill: var(--color);
  width: calc(var(--size) * var(--line));
  height: calc(var(--size) * var(--line));
}
.icon svg {
  width: 100%;
  height: 100%;
}

.icon.block {
  --display:flex;
}

.icon.large {
  --size:2em;
}

.icon.medium {
  --size:1.5em;
}

.icon.small {
  --line:1;
}

.icon.flag {
  --size:1.25em;
  --border:transparent;
  --spacer:0.125em;
  margin-top: -0.125em;
  margin-bottom: calc(var(--spacer) / -1);
  padding: var(--spacer);
  border: var(--spacer) solid var(--border);
  border-radius: 0.5em;
}
.icon.flag:hover {
  transition: border-color 0.3s ease-in-out;
  --border:var(--color-link);
}
.icon.flag.active {
  --spacer:0.125em;
  --border:var(--color-success);
}

.fx, .fx-inline, .fx-column, .fx-row, .app-inline-items {
  --display:flex;
  display: var(--display);
}

.fx-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fx-1 {
  flex: 1;
}

.fx-min-0 {
  min-width: 0;
}

.fx-row, .app-inline-items {
  flex-direction: row;
}

.fx-column {
  flex-direction: column;
}

.fx-inline {
  --display:inline-flex;
}

.fx-wrap, .app-inline-items {
  flex-wrap: wrap;
}

.fx-nowrap {
  flex-wrap: nowrap;
}

.fx-ai-center {
  align-items: center;
}

.fx-jc-center {
  justify-content: center;
}

.fx-jc-end {
  justify-content: flex-end;
}

.fx-jc-start {
  justify-content: flex-start;
}
@media screen and (max-width: 48rem) {
  .fx-jc-start-phone {
    justify-content: flex-start;
  }
}

.browser {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #f9f9f9;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.6s ease-in-out;
}
.browser-buttons {
  padding: 0 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.25rem;
}
.browser-buttons i {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  display: block;
  background-color: var(--icon-color);
}
.browser-buttons i:nth-child(1) {
  --icon-color:#ff6052;
}
.browser-buttons i:nth-child(2) {
  --icon-color:#ffb933;
}
.browser-buttons i:nth-child(3) {
  --icon-color:#2ec733;
}
.browser-buttons i + i {
  margin-left: 0.25rem;
}
.browser-console {
  flex: 1;
  border-radius: 0.4rem;
  height: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.75rem;
  font-size: 0.875rem;
  color: #646464;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
}
.browser-toolbar {
  padding: 0 0.25rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background: #f9f9f9;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.browser-window {
  position: relative;
  padding-bottom: 56%;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow-y: auto;
}
.browser-document {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--gap);
}

.scroll .browser {
  transform: perspective(64rem) rotateX(18deg);
}

.layout, .app-footer-layout, .app-layout, .app-header-layout {
  position: relative;
  margin: 0 auto;
  max-width: 64rem;
  width: 100%;
  min-height: 100%;
}

.cover, .app-card-back, .app-card-image, .app-card-inner, .app-card-front:after, .app-entry-image, .app-entry-cover:after, .app-entry-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

:root {
  --gap: 2rem;
}

@media screen and (max-width: 30rem) {
  :root {
    --gap: 1rem;
  }
}
:root {
  --header-background: transparent;
  --header-title-visibility: block;
  --header-shadow: none;
  --header-height: 5rem;
  --header-logo: 1.5rem;
  --header-icon: 2rem;
}

@media screen and (max-width: 48rem) {
  :root {
    --header-icon: 1.75rem;
    --header-height: 4rem;
    --header-title-visibility: none;
  }
}
.scroll {
  --header-background: #ffffff;
  --header-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.app-header {
  --link-color: var(--color-primary);
  --link-color-hover: var(--color-link);
  --link-decoration: none;
  background-color: var(--header-background);
  box-shadow: var(--header-shadow);
  height: var(--header-height);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}
.app-header-container {
  height: var(--header-height);
}
.app-header-layout {
  padding: 0 var(--gap);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.app-header-title {
  margin-left: 0.5rem;
  display: var(--header-title-visibility);
}
.app-header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app-header-logo {
  margin: 0 auto 0 0;
  font-size: var(--header-logo);
}
.app-header-logo svg {
  height: var(--header-icon);
  width: var(--header-icon);
}
.app-header-logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app-header-link {
  font-size: 1.125rem;
  margin: 0;
}
@media screen and (max-width: 48rem) {
  .app-header-link {
    font-size: 1rem;
  }
}
.app-header-link + .app-header-link {
  margin-left: var(--gap);
}
.app-centered {
  justify-content: center;
  align-items: center;
}
.app-layout {
  padding: 0 var(--gap);
}
.app-rows {
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: var(--gap);
  padding: var(--gap);
}
.app-page, .app-banner, .app-footer {
  display: flex;
  background-color: #fff;
  flex-direction: column;
}
.app-banner {
  z-index: 5;
  position: sticky;
  overflow: hidden;
  top: var(--header-height);
}
.app-banner + .app-page {
  box-shadow: 0px -1rem 1rem #fff;
}
.app-page, .app-footer {
  background-color: #fff;
  position: relative;
  z-index: 10;
}
.app-footer {
  border-top: 1px solid #f5f5f5;
}
.app-footer-layout {
  padding: 0 var(--gap);
}
.app-grid {
  max-height: 100%;
  display: grid;
  grid-auto-columns: auto;
  grid-gap: var(--gap);
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 48rem) {
  .app-grid {
    grid-template-columns: 1fr;
  }
}
.app-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -0.5rem;
}
.app-inline > * {
  margin: 0.5rem;
}

.app-blog {
  display: grid;
  grid-auto-columns: auto;
  grid-gap: var(--gap);
  grid-template-columns: 2fr 4fr;
}
@media screen and (max-width: 48rem) {
  .app-blog {
    grid-template-columns: 1fr;
  }
}

.app-inline-items {
  margin: -0.5rem;
}
.app-inline-items > * {
  margin: 0.5rem;
}

.ratio-cover {
  border-radius: 0.5rem;
}
.ratio-cover, .ratio-cover:after, .ratio-cover:before, .ratio-cover > * {
  border-radius: 0.5rem;
}
.ratio-cover:after {
  content: "";
  background: linear-gradient(40deg, rgba(78, 76, 189, 0.5), rgba(186, 15, 81, 0.5));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.app-entry {
  --entry-shadow: none;
  --entry-rounded: .5rem;
  transition: all 0.3s ease-in-out;
  cursor: default;
  border-radius: 0.5rem;
  box-shadow: var(--entry-shadow);
  position: relative;
}
.app-entry:hover {
  --entry-rounded: .5rem .5rem 0 0;
  --entry-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.app-entry-link {
  z-index: 100;
}
.app-entry-cover {
  position: relative;
}
.app-entry-cover:before {
  content: "";
  padding-top: calc(9 / 16 * 100%);
  display: block;
}
.app-entry-cover:after {
  content: "";
  transition: all 0.3s ease-in-out;
  border-radius: var(--entry-rounded);
  background: linear-gradient(40deg, rgba(78, 76, 189, 0.3), rgba(186, 15, 81, 0.3));
  z-index: 3;
}
.app-entry-image {
  transition: all 0.3s ease-in-out;
  border-radius: var(--entry-rounded);
  z-index: 2;
}
.app-entry-content {
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem;
}

.app-card-content {
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.app-card-front, .app-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.app-card-front:before, .app-card-back:before {
  content: "";
  padding-top: calc(3 / 4 * 100%);
  display: block;
}
@media screen and (max-width: 48rem) {
  .app-card-front:before, .app-card-back:before {
    padding-top: calc(4 / 3 * 100%);
  }
}
.app-card-back, .app-card-image, .app-card-inner, .app-card-front:after {
  border-radius: 0.5rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.app-card-image {
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
}
.app-card-back {
  background-color: #fff;
  transform: rotateY(180deg);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.app-card-front {
  position: relative;
  text-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.2);
  color: #fff;
}
.app-card-front:after {
  content: "";
  background: linear-gradient(40deg, rgba(78, 76, 189, 0.5), rgba(186, 15, 81, 0.5));
  z-index: 2;
}
.app-card-inner {
  z-index: 3;
  transform: translateZ(5rem);
  padding: var(--gap);
}
.app-card-wrapper {
  overflow-y: hidden;
  margin-right: calc(var(--gap) / -1);
  padding-right: var(--gap);
}
.active .app-card-wrapper {
  overflow-y: auto;
}
.app-card-close {
  z-index: 9;
  border-radius: 0.5rem;
  background-color: #dfdfdf;
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0.5rem;
  right: 0.5rem;
}
.app-card-button {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  background: transparent;
  padding: 0.5rem 1rem;
  text-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.2);
  display: inline-flex;
  transition: 0.3s ease-in-out;
  font-weight: var(--font-weight-bold);
  border-radius: 0.375rem;
  cursor: pointer;
}
.app-card-button:hover, .app-card-button:focus, .app-card-button:active {
  background-color: #fff;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.2);
  text-shadow: none;
  color: var(--color-link-active);
}
.app-card.active .app-card-content {
  transform: rotateY(180deg);
}

.app-rounded {
  border-radius: 0.5rem;
}

.app-empty {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: var(--gap);
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 0.5rem;
}

.app-hidden {
  overflow: hidden;
}

.app-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  background-color: transparent;
}
.app-progress-bar:before {
  content: "";
  display: block;
  width: calc(1% * var(--progress, 0));
  height: 0.125rem;
  background: linear-gradient(45deg, var(--color-info), var(--color-pink) 80%);
}

.app-post {
  --line-margin: var(--gap);
  padding: var(--gap);
  line-height: 1.8;
  font-size: 1.125rem;
}
.app-post > * {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}
.app-post :last-child {
  margin-bottom: 0;
}
.app-post figure {
  max-width: none;
}
.app-post figure img:only-child {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}