.p-auto {
  padding: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.pt-auto {
  padding-top: auto;
}

.pr-auto {
  padding-right: auto;
}

.pl-auto {
  padding-left: auto;
}

.m-auto {
  margin: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.p-0 {
  padding: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.px-0 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.m-0 {
  margin: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.mx-0 {
  margin-right: 0rem;
  margin-left: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.p-1 {
  padding: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.m-1 {
  margin: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mx-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.m-2 {
  margin: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-3 {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.m-3 {
  margin: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-3 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.m-4 {
  margin: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-4 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-5 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.m-5 {
  margin: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-5 {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-6 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.m-6 {
  margin: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-6 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.px-7 {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.m-7 {
  margin: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.mx-7 {
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.m-8 {
  margin: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-8 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.p-9 {
  padding: 2.25rem;
}

.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.px-9 {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.m-9 {
  margin: 2.25rem;
}

.my-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.mx-9 {
  margin-right: 2.25rem;
  margin-left: 2.25rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-10 {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.m-10 {
  margin: 2.5rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-10 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

h1, .fs-1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .fs-1 {
    font-size: 2.5rem;
  }
}

h2, .fs-2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .fs-2 {
    font-size: 2rem;
  }
}

h3, .fs-3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .fs-3 {
    font-size: 1.75rem;
  }
}

h4, .fs-4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .fs-4 {
    font-size: 1.5rem;
  }
}

h5, .fs-5 {
  font-size: 1.25rem;
}

h6, .fs-6 {
  font-size: 1rem;
}

.small {
  font-size: var(--font-size-small);
}

.thin {
  font-weight: var(--font-weight-thin);
}

.normal {
  font-weight: var(--font-weight-normal);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.h-1 {
  height: 1px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.overflow-hidden {
  overflow: hidden;
}

.text-truncate {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap {
  white-space: nowrap;
}

.hide {
  display: none !important;
}