<div class="app-card" data-card="">
    <div class="app-card-content">
        <div class="app-card-front">
            <img class="app-card-image" loading="lazy" src="https://picsum.photos/720/540?random={{ forloop.index }}">
            <div class="app-card-inner fx fx-column fx-jc-center text-center">
                <h3 class="fs-3">{{ item.title }}</h3>
                <p>{{ item.summary }}</p>
                <div class="text-center"><a href="#" data-flip="" class="app-card-button">Details</a></div>
            </div>
        </div>
        <div class="app-card-back">
            <div class="app-card-inner fx fx-column">
                <div class="app-card-wrapper" data-flip="">
                    {{ item.content | markdownify }}
                </div>
            </div>
        </div>
    </div>
</div>
