<div class="app-entry">
    <div class="app-entry__cover app-entry__gradient">
        <div class="app-entry__image" data-cover="{{ item.cover | absolute_url }}"></div>
    </div>
    <div class="app-entry__content">
        <h3 class="app-entry__title">{{ item.title }}</h3>
        <p class="app-entry__summary c-dark">{{ item.summary }}</p>
    </div>
</div>
