<div class="app-header">
    <div class="app-header__progress"></div>
    <div class="app-header__layout">
        <h1 class="app-header__logo">
            <a href="{{ '#home' | prepend: '/' | prepend: page.lang | prepend: '/' | absolute_url }}" data-rel="banner">
                {% include icon name="logo" %}
                <span class="app-header__title">{% include i18n id="Romasheva Design" %}</span>
            </a>
        </h1>
        <nav class="app-header__nav">
            <div class="app-header__link">
                <a href="{{ '#services' | prepend: '/' | prepend: page.lang | prepend: '/' | absolute_url }}">
                    {% include i18n id="Services" %}
                </a>
            </div>
            <div class="app-header__link">
                <a href="{{ '#portfolio' | prepend: '/' | prepend: page.lang | prepend: '/' | absolute_url }}">
                    {% include i18n id="Portfolio" %}
                </a>
            </div>
            <div class="app-header__link">
                <a href="{{ '#contacts' | prepend: '/' | prepend: page.lang | prepend: '/' | absolute_url }}">
                    {% include i18n id="Contacts" %}
                </a>
            </div>
        </nav>
    </div>
</div>
