<nav class="app-nav">
    <div class="app-nav-item"><a class="app-nav-link" href="{{ '#services' | prepend: '/' | prepend: page.lang | prepend: '/' | absolute_url }}">{% include i18n id="Services" %}</a></div>
    <div class="app-nav-item"><a class="app-nav-link" href="{{ '#portfolio' | prepend: '/' | prepend: page.lang | prepend: '/' | absolute_url }}">{% include i18n id="Portfolio" %}</a></div>
    <div class="app-nav-item"><a class="app-nav-link" href="{{ '#contacts' | prepend: '/' | prepend: page.lang | prepend: '/' | absolute_url }}">{% include i18n id="Contacts" %}</a></div>
</nav>
