<link rel="preload" href="{{ '/assets/css/main.min.css' | absolute_url | append: '?' | append: site.github.build_revision }}" as="style">
<link rel="preload" href="{{ '/assets/css/app.min.css' | absolute_url | append: '?' | append: site.github.build_revision}}" as="style">
<link rel="preload" href="{{ '/assets/js/app.js' | absolute_url | append: '?' | append: site.github.build_revision }}" as="script">

<link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.min.css' | absolute_url | append: '?' | append: site.github.build_revision }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/app.min.css' | absolute_url | append: '?' | append: site.github.build_revision }}">
<script async src="{{ '/assets/js/app.min.js' | absolute_url | append: '?' | append: site.github.build_revision }}"></script>
