.fx {
  --display: flex;
  display: var(--display);
}

.fx-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fx-1 {
  flex: 1;
}

.fx-min-0 {
  min-width: 0;
}

.fx-row {
  @extend .fx;
  flex-direction: row;
}

.fx-column {
  @extend .fx;
  flex-direction: column;
}

.fx-inline {
  @extend .fx;
  --display: inline-flex;
}

.fx-wrap {
  flex-wrap: wrap;
}

.fx-nowrap {
  flex-wrap: nowrap;
}

.fx-ai-center {
  align-items: center;
}

.fx-jc-center {
  justify-content: center;
}

.fx-jc-end {
  justify-content: flex-end;
}

.fx-jc-start {
  justify-content: flex-start;

  &-phone {
    @include phone {
      justify-content: flex-start;
    }
  }
}
