:root{
  --font-size: 16px;
  --font-family-base: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-weight-thin:100;
  --font-weight-normal:300;
  --font-weight-bold:500;
  --font-size-small:.875em;
  --line-height-base:1.5;
  --line-height-headings:1.25;
  --line-margin:1rem;
}

:root{
  --link-decoration:underline;
  --link-decoration-hover:none;
  --link-decoration-active:none;
}