---
title: Branding
sitemap: false
---

{% assign min = 65 %}
{% assign max = 80 %}
{% assign diff = max | minus: min %}
{% assign rand = "now" | date: "%N" | modulo: diff | plus: min %}

<div class="app-page">
    <div class="app-page__cover" data-cover="{{ 'https://picsum.photos/seed/picsum/1200/300' | absolute_url }}"></div>
    <div class="app-page__layout">
        <div class="c-white">
            <div class="lh-h fs-1 bold">Barbaricum</div>
            <div class="fs-4">asdjfhasjd fjhaskdjhfajksdhj</div>
        </div>
    </div>
</div>

<div class="app-page app-fluid">
    <div class="app-page__layout">
        <div>ahsdjhfkajsd hfajksdh fkjahsdkjf</div>
        <div>ahsdjhfkajsd hfajksdh fkjahsdkjf</div>
    </div>
</div>
